<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">What is this about?</h2>

    <p>
      Just a thing from <a href="http://olivierlacan.com">Olivier Lacan</a> who cares about security <strong>and</strong> privacy <strong>and</strong> the freedom for everyone to send dick pictures as long as the recipient is cool with it.
    </p>

  </div>

</footer>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '55227310de2e261bed0056b5');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://track.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
