<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">What is this about?</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p>
          Made by <a href="http://olivierlacan.com">Olivier Lacan</a> who cares about security <strong>and</strong> privacy <strong>and</strong> the freedom for everyone to send dick pictures as long as the recipient is cool with it.
        </p>
      </div>

      <div class="footer-col  footer-col-2">
        <p class="text">{{ site.call_to_action }}</p>
      </div>
    </div>

  </div>

</footer>
