<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p class="intro">As John Oliver so eloquently explained to Edward Snowden during his interview of him for his Last Week Tonight episode on Government Surveillance, the ability of the government to see people's dick pictures is <em>the most visible line in the sand for people: "Can they see my dick?"</em>. </p>


        <dl>
          <dt><a name="section-702"></a><a href="#section-702">Section 702: Can they see your dick?</a></dt>
          <dd>
            <p>Yes. The FISA amendments act of 2008 which section 702 falls under allows the bulk collection of Internet communications that are one-end foreign. If you have your email somewhere like Gmail, it's hosted on servers overseas or transfered overseas or anytime crosses over the borders of the United States: your junk ends up in the database.
            </p>

            <p>You don't have to be sending your dick to a German. Even if you send it to somebody within the United States your — wholly domestic — communication between you and your wife can go from New York to London and back and get caught up in the database.</p>
          </dd>

          <dt><a name="executive-order-12333"></a><a href="#executive-order-12333">Executive Order 12333: Dick or no dick?</a></dt>
          <dd>
            <p>Yes. EO 12333 is what the NSA uses when the other authorities aren't aggressive enough or they're not catching as much as they'd like.</p>

            <p>When you send your junk through Gmail for example: that's stored on Google's servers. Google moves data from datacenter to datacenter — invisibly to you, without your knowledge. Your data could be moved outside of the borders of the United States temporarily when your junk was passed by Gmail the NSA caught a copy of that.</p>
          </dd>

          <dt><a name="prism"></a><a href="#prism">Prism</a></dt>
          <dd>
            <p>Prism is how they pull your junk out of Google with Google's involvement.</p>
            <p>All of the different Prism partners — people like Yahoo, Facebook, Google — the governement deputizes them to be sort of their little surveillance Sheriffs. They're a Dick Sheriff.</p>
          </dd>

          <dt><a name="upstream"></a><a href="#upstream">Upstream</a></dt>
          <dd>
            <p>Upstream is how they snatch your junk as it transits through the Internet.</p>
          </dd>

          <dt><a name="mystic"></a><a href="#mystic">Mystic</a></dt>
          <dd>
            <p>If you're describing your junk on the phone: yes. They have the content as well as the duration but only for a few countries. If you're in vacation in the Bahamas, they know what your junk looks like.</p>
          </dd>

          <dt><a name="section-215"></a><a href="#section-215">Section 215: Metadata</a></dt>
          <dl>
            <p>No. But they can probably tell who you're sharing your junk pictures with because they're seeing who you're texting with, who you're calling. </p>
          </dl>
        </dl>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
