<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p class="intro">As John Oliver so eloquently explained to Edward Snowden during <a href="https://www.youtube.com/watch?v=XEVlyP4_11M&t=26m50s">his interview of him for his Last Week Tonight episode on Government Surveillance</a>, the ability of the government to see people's dick pictures is <em>the most visible line in the sand for people</em> when it comes to surveillance overreach.</p>

        <div class="embed-container"><iframe src="https://www.youtube.com/embed/XEVlyP4_11M?start=1610" frameborder="0" allowfullscreen></iframe></div>

        <p class="france">PS: <a href="http://www.laquadrature.net/en/french-surveillance-bill-time-to-act">France is about to go nuts on dick pics too.</a></p>


        <dl>
          <dt><a name="section-702"></a><a href="#section-702">Section 702: One-End Foreign Dick</a></dt>
          <dd>
            <p><strong>Yes.</strong> The FISA amendments act of 2008 which section 702 falls under allows the bulk collection of Internet communications that are one-end foreign. If you have your email somewhere like Gmail, it's hosted on servers overseas or transfered overseas or anytime crosses over the borders of the United States: your junk ends up in the database.
            </p>

            <p>You don't have to be sending your dick to a German. Even if you send it to somebody within the United States your — wholly domestic — communication between you and your wife can go from New York to London and back and get caught up in the database.</p>

            <a href="https://www.eff.org/deeplinks/2014/05/way-nsa-uses-section-702-deeply-troubling-heres-why" class="more">More about Section 702 of the Patriot Act</a>
          </dd>

          <dt><a name="executive-order-12333"></a><a href="#executive-order-12333">Executive Order 12333: Dick Smuggling</a></dt>
          <dd>
            <p><strong>Yes.</strong> EO 12333 is what the NSA uses when the other authorities aren't aggressive enough or they're not catching as much as they'd like.</p>

            <p>When you send your junk through Gmail for example: that's stored on Google's servers. Google moves data from datacenter to datacenter — invisibly to you, without your knowledge. Your data could be moved outside of the borders of the United States temporarily when your junk was passed by Gmail the NSA caught a copy of that.</p>

            <a href="https://www.eff.org/deeplinks/2014/06/primer-executive-order-12333-mass-surveillance-starlet" class="more">More about Executive Order 12333</a>
          </dd>

          <dt><a name="PRISM"></a><a href="#PRISM">PRISM Dick</a></dt>
          <dd>
            <p>PRISM is how they <strong>pull your junk out</strong> of Google with Google's involvement.</p>
            <p>All of the different PRISM partners — people like Yahoo, Facebook, Google — the government deputizes them to be sort of their little surveillance Sheriffs. They're a Dick Sheriff.</p>

            <a href="http://en.wikipedia.org/wiki/PRISM_%28surveillance_program%29" class="more">More about PRISM</a>
          </dd>

          <dt><a name="upstream"></a><a href="#upstream">Upstream Dick</a></dt>
          <dd>
            <p>Upstream is how they <strong>snatch your junk</strong> as it transits through the Internet.</p>

            <a href="http://en.wikipedia.org/wiki/Upstream_collection" class="more">More about the Upstream collection program</a>
          </dd>

          <dt><a name="mystic"></a><a href="#mystic">Mystic Dick</a></dt>
          <dd>
            <p><strong>If you're describing your junk on the phone: yes</strong>. They have the content as well as the duration but only for a few countries. If you're in vacation in the Bahamas, they know what your junk looks like.</p>

            <a href="http://en.wikipedia.org/wiki/MYSTIC_%28surveillance_program%29" class="more">More about MYSTIC</a>
          </dd>

          <dt><a name="section-215"></a><a href="#section-215">Section 215: Dick Metadata</a></dt>
          <dl>
            <p><strong>No dick pic.</strong> But they can probably tell who you're sharing your junk pictures with because they're seeing who you're texting with, who you're calling. </p>

            <a href="https://www.eff.org/deeplinks/2015/01/section-215-patriot-act-expires-june-congress-ready" class="more">More about Section 215 of the Patriot Act</a>
          </dl>
        </dl>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
